
<div class="container-login" style="background-image: url('assets/back.jpeg');">
    <div class="wrap-login" style="padding : 80px 55px 30px 55px">
    <form #loginid="ngForm"  (ngSubmit)="login(loginid.value)"> 
        <span class="sign" style="padding-bottom: 37px">
                Sign In
        </span>

        <div  class="validate-input" style="margin-bottom: 20px">
                <input class="input" [(ngModel)]="this.username" type="text" id="name" name="username" placeholder="username" ng-required>
                <span class="focus-input"></span>
                <div *ngIf="name.errors.required">
                        Name is required.
                      </div>
                     
        </div>
        <div class=" validate-input" style="margin-bottom: 25px">
                <input class="input" [(ngModel)]="this.password" id="password" type="password" name="password" placeholder="password" ng-required>
                <span class="focus-input"></span>
                <div *ngIf="password.errors.required">
                        Password is required.
                      </div>
                     
            </div>
        <div align="center">
				<button class="login-btn">
					Sign In
				</button>
            </div>
            <br/>
            <div class="create" align="center">
					 <a [routerLink]="['/register']" style="font-size: 20px ">
						Sign Up
					</a>
				</div>
</form>
    </div>
</div>
