

<div class="container-login" style="background-image: url('assets/back.jpeg');">
    <div class="wrap-login" id="add" style="padding : 80px 55px 30px 55px">
    <form #adminid="ngForm"  (ngSubmit)="delsong(adminid.value)"> 
        <span class="sign" style="padding-bottom: 37px">
                Admin
        </span>
        <table>
        
        
                <tr>
                    <td style="color: white;">
                        Song name 
                    </td>
                    <td>
                        <input class="input"  type="text" name="songname" [(ngModel)]="this.songname" >
          
                    </td>
                    </tr>
        </table>
        <br/>
        <div align="center">
				<button class="login-btn">
					Delete
				</button>
            </div>
            
</form>
    </div>
    
</div>

